<!DOCTYPEhtml>
<html>

<head>
</head>

<body>
	<h1>Use this form for authentication purposes.</h1>
	<h3>Log-in:</h3>

	<form action="/" method="post">
		<fieldset>
				<label name="login_ID">Login ID:</label>
				<input type="text" name="username" placeholder="Enter ID">
				<label for="password">Password:</label>
				<input type="text" name="password" placeholder="Enter password">
			<div class="submit-botton">
				<input type="submit">
			</div>
		</fieldset>
	</form>
</body>

</html>