<!DOCTYPEhtml>
<html>

<head>
</head>

<body>
	<h1>Use this form for authentication purposes.</h1>

	<form action="./app.js" method="post">
		<div>
			<label for="login_ID">Login ID:</label>
			<input type="text" name="username" placeholder="Enter ID">
		</div>
		<div>
			<label for="password">Password:</label>
			<input type="password" name="password" placeholder="Enter password">
		</div>
		<div class="submit-botton">
			<input type="submit" value="Submit">
		</div>
	</form>
</body>

</html>